{% extends "header.html" %}
{% block content %}
<br><br><br><br>
<div class="container" style="height: 1200px;">
    <h2 class="h2">About</h2>
    <hr class="hr">
    <h3 class="h3">About Webapp</h3>
    <hr class="hr">
    <p class="p">-It will scan all the data of the stocks included in NIFTY50 index which tracks the top 50
        companies of India categorized on the basis of their market capitalization.</p>
    <p class="p">-The technical scanner will scan for the dataset and then provide the stocks with the selected
        candlestick pattern found in the dataset and generate their candlestick chart using the same dataset.</p>
    <hr class="hr">
    <h3 class="h3">Tech Stack</h3>
    <hr class="hr">
    <p class="p">
    <ul>
        <li>Core functionality of the webapp using <u>Python</u> & <u>Flask Framework</u></li>
        <li>Design & Interface using:
            <ul>
                <u>
                    <li>HTML</li>
                    <li>CSS [Bootstrap Framework]</li>
                    <li>JavaScript</li>
                    <li>Flask Framework</li>
                </u>
            </ul>
        </li>
    </ul>
    </p>
    <hr class="hr">
    <h3 class="h3">Developers</h3>
    <hr class="hr">

    <div class="row">
        <div class="column" style="float: left; width: 33.3%; margin-bottom: 16px; padding: 0 8px;">
          <div class="card" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); margin: 8px;">
            <img src="{{ url_for('static', filename='pics/aditya.jpg')}}" >
            <div class="container" style="padding: 0 16px; background-color: white;">
              <p class="title" style="color: black;">A Aditya</p>
              <p style="color: black;">aditya.0801@outlook.com</p>
              <p><a href="https://www.linkedin.com/in/adi-0810" target="blank"><button class="button-1"
                style="background-color: #555555; 
                border: none;
                color: white;
                padding: 7px 22px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
                margin: 4px 2px;
                cursor: pointer;
                border-radius: 5px;">Contact</button></a></p>
              <br>
            </div>
          </div>
        </div>
      
        <div class="column" style="float: left; width: 33.4%; margin-bottom: 16px; padding: 0 8px;">
            <div class="card" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); margin: 8px;">
              <img src="{{ url_for('static', filename='pics/anushka (3).jpg')}}"> 
              <div class="container" style="padding: 0 16px; background-color: white;">
                <p class="title" style="color: black;">Anushka Bhagchandani</p> 
                <p style="color: black;">anushka2001feb@gmail.com</p>
                <p><a href="https://www.linkedin.com/in/anushka-bhagchandani-07659618b" target="blank"><button src="https://www.linkedin.com/in/anushka-bhagchandani-07659618b" class="button-2" 
                    style="background-color: #555555; 
                    border: none;
                    color: white;
                    padding: 7px 22px;
                    text-align: center;
                    text-decoration: none;
                    display: inline-block;
                    font-size: 16px;
                    margin: 4px 2px;
                    cursor: pointer;
                    border-radius: 5px;">Contact</button></a></p>
                <br>
              </div>
            </div>
          </div>
        
        <div class="column" style="float: left; width: 33.3%; margin-bottom: 16px; padding: 0 8px;">
          <div class="card" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); margin: 8px;">
            <img src="{{ url_for('static', filename='pics/ayush.jpg')}}">
            <div class="container" style="padding: 0 16px; background-color: white;">
              <p class="title" style="color: black;">Ayush Desai</p>
              <p style="color: black;">desai.ayushh@gmail.com</p>
              <p><a href="https://www.linkedin.com/in/ayushhdesai" target="blank"><button class="button-3" style="background-color: #555555; 
                border: none;
                color: white;
                padding: 7px 22px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
                margin: 4px 2px;
                cursor: pointer;
                border-radius: 5px;">Contact</button></a></p>
              <br>
            </div>
          </div>
        </div>
      </div>

    <hr class="hr">
</div>
{% endblock %}