{% extends "header.html" %}
{% block content %}
<div class="section full-height">
    <div class="absolute-center">
        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h1><span>Candlestick</span>&nbsp;<span>Pattern Finder</span>&nbsp;<span>& Analyzer</span><br>
                            <span>Developed</span>&nbsp;<span>by</span>&nbsp;<span>A Aditya, Anushka Bhagchandani and, Ayush Desai</span>
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}